{% extends 'base.html' %}

{% block head %}
<title>All Payments</title>
{% endblock head %}

{% block content %}

<div class="flex flex-col items-center justify-center">

        {% for payment in payments %}
    <div class="bg-gray-300  flex  flex-col w-1/4 p-5 space-y-5 border border-b-1">

        {{payment.employee}}
        {% if payment.status == 'DE' %}
        <p class="text-green-500 font-extrabold">{{payment.get_status_display}}</p>
        {% elif payment.status == 'PG' %}
        <p class="text-yellow-600 font-extrabold">{{payment.get_status_display}}</p>
        {% endif %}

        

<!-- Modal toggle -->
<button data-modal-target="defaultModal{{payment.id}}" data-modal-toggle="defaultModal{{payment.id}}" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
  Pay
</button>

    {% csrf_token %}
<div id="defaultModal{{payment.id}}" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-2xl md:h-auto">
        <div class="relative bg-white rounded-lg shadow">
            <div class="flex items-start justify-between p-4 border-b rounded-t ">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    Payment Status
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center " data-modal-hide="defaultModal{{payment.id}}">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500">
                    total price: {{payment.employee.total_salary}}
                </p>

            </div>
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b ">
                <a href="{% url 'core:pay' payment.id %}"><button data-modal-hide="defaultModal{{payment.id}}" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Pay</button></a>
                <button data-modal-hide="defaultModal{{payment.id}}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 ">Decline</button>
            </div>
        </div>
    </div>
</div>

    </div>
        {% endfor %}
</div>
{% endblock content %}